@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
  font-family: 'museo_slab_900';
  src: url(/Web_Clone/css/font/museo-slab/Museo_Slab_900.otf);
}
@font-face {
  font-family: 'museo_slab_700';
  src: url(/Web_Clone/css/font/museo-slab/Museo_Slab_700.otf);
}
@font-face {
  font-family: 'museo_slab_500';
  src: url(/Web_Clone/css/font/museo-slab/Museo_Slab_500.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: darkblue; */
  /* outline: 1px solid black; */
}

:root {
  font-family: "Noto Sans KR", sans-serif;
  /* color: #FFF; */
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}
h1 {
  font-family: 'museo_slab_900';
  font-size: 80px;
  font-weight: bold;
}
h2 {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 15px;
}
p {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
}
a {
  /* font-size: 20px; */
  font-weight: 500;
}
/* a:visited, a:link {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
} */

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}



/* .white {
  color: #fff;
} */

.inner {
  width: 100%;
  height: 100%;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  /* layout */
  display: flex;
  /* width: 1760px; */
  height: 50px;
  align-items: center;
  gap: 82px;
  /* position */
  /* position: absolute;
  left: 75px;
  top: 50px;*/
  z-index: 100;
}
nav a {
  font-family: 'museo_slab_500';
  font-size: 21px;
}
.nav_logo {
  width: 100px;
  height: 50px;
  /* background: url(/Web_Clone/images/studiolico/sp_logo.png) -353.5px -315px / 750% 800% no-repeat; */
  background: url(/Web_Clone/images/studiolico/sp_logo.png) -353.5px -260.066px / 750% 800% no-repeat;
}
.nav_manu_list {
  /* layout */
  display: flex;
  align-items: flex-start;
  gap: 38px;
  /* typo */
  color: rgba(0, 0, 0, 0.40);
  text-align: center;
  font-size: 23px;
}
.rectangle {
  height: 4px;
  align-self: stretch;
  background: rgba(0, 0, 0, 0.00);
}

.icoMenu,
.icoClose {
  /* font-size: 2rem;
  color: #fff;
  display: flex;
  height: 100%;
  align-items: center; */
  display: none;

}
.manu01:visited, .manu01:link,
.manu02:visited, .manu02:link,
/* .manu03:visited, .manu03:link, */
.manu04:visited, .manu04:link {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.manu01:hover,
.manu02:hover,
/* .manu03:hover, */
.manu04:hover {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  font-family: 'museo_slab_700';
}
.manu03 {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  text-decoration: none;
}
.manu03 .rectangle {
  background: rgba(0, 0, 0, 1.00);
}

footer {
  /* layout */
  display: flex;
  /* width: 1760px; */
  height: 40px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  /* position */
  /* position: absolute;
  left: 75px;
  bottom: 45px; */
  z-index: 100;

  /* typo */
  color: rgba(0, 0, 0, 0.50);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.7px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px
}
.logo_webtoon {
  display: block;
  width: 43px;
  height: 40px;
  /* background: url(/Web_Clone/images/studiolico/sp_logo.png) -403.41px -29.118px / 1744.187% 990.712% no-repeat; */
  background: url(/Web_Clone/images/studiolico/sp_logo.png) -353.806px -29.118px / 1744.187% 990.712% no-repeat;
}
.logo_naver {
  display: block;
  width: 64px;
  height: 12px;
  /* background: url(/Web_Clone/images/studiolico/sp_logo.png) -244.373px 0.517px / 1171.875% 3333.333% no-repeat; */
  background: url(/Web_Clone/images/studiolico/sp_logo.png) -244.373px -29.62px / 1171.875% 3076.922% no-repeat;
}
.privacy_policy {
  display: flex;
  align-items: center;
  gap: 20px;
}
.privacy_policy::before {
  display: block;
  width: 1px;
  height: 10px;
  background: #ccc;
  content: "";
}
.privacy_policy:visited, .privacy_policy:link {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  letter-spacing: -0.75px;
  text-decoration-line: underline;
}

.ethicsline:visited, .ethicsline:link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}


.top_inner {
  width: 1200px;
  height: 900px;
  margin: 0 auto;
  padding-top: 90px;
}

.mid_inner,
.bot_inner {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 200px;
  /* max-width: 1200px; */
}




.main_txt {
  width: auto;
  display: flex;
  flex-direction: column;

  /* justify-content: flex-start; */
  /* margin: 80px 180px ; */
  gap: 40px;
  /* position: absolute; */
  /* top: 150px; */
  /* left: 230px; */
}

.sp_txt {
  background: url(/Web_Clone/images/studiolico/sp_txt.png) 0 0 no-repeat;
  background-size: 400px 400px;
  height: 26px;
}

.career_mid h2 {
  font-family: 'museo_slab_900';
  font-size: 34px;
  font-weight: 400;
}
.career_bot h2 {
  font-family: "Noto Sans KR";
  font-size: 28px;
  font-weight: 700;
}




.myacordion {
  --bs-accordion-btn-padding-y: 2rem;
  --bs-border-color: #000;
  --bs-accordion-btn-icon-width: 2rem;
  --bs-accordion-active-bg: none;
  --bs-accordion-transition: initial;
  margin-top: 30px;
}
.myacordion .accordion-button {
  border: 1px solid black;

}
.myacordion .accordion-button:focus,
.myacordion2 .accordion-button:focus {
  box-shadow: initial
}

.myacordion .accordion-button::after {
  background-image: url(/Web_Clone/images/studiolico/plus-lg.svg);
  transition: initial;
}
.myacordion .accordion-button.flex_column .title_txt {
  margin: 0 0 20px 0;
}

.myacordion .accordion-button.collapsed .title_txt_click {
  display: none;
}

.myacordion .accordion-button:not(.collapsed) {
  height: 230px;
  color: white;

  /* background-image: url(/Web_Clone/images/studiolico/img_work_life_pc_01.jpg); */
  background-size: cover;
  box-shadow: none;
}

.myacordion .accordion-button:not(.collapsed).item01_btn {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/Web_Clone/images/studiolico/img_work_life_pc_01.jpg) lightgray 50% / cover no-repeat;

}
.myacordion .accordion-button:not(.collapsed).item02_btn {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/Web_Clone/images/studiolico/img_work_life_pc_02.jpg) lightgray 50% / cover no-repeat;
  height: 280px;

}
.myacordion .accordion-button:not(.collapsed).item03_btn {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/Web_Clone/images/studiolico/img_work_life_pc_03.jpg) lightgray 50% / cover no-repeat;
}
.myacordion .accordion-button:not(.collapsed).item04_btn {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/Web_Clone/images/studiolico/img_work_life_pc_04.jpg) lightgray 50% / cover no-repeat;
  height: 350px;

}



.myacordion .accordion-button:not(.collapsed) > span {
  display: none;
}
/* .accordion-button:not(.collapsed) > .title_txt, */
.myacordion .accordion-button:not(.collapsed) > .title_txt_click {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.myacordion .accordion-button:not(.collapsed) > .title_txt_click .title_txt {
  margin-bottom: 10px;
}

.myacordion .accordion-button:not(.collapsed)::after {
  background-image: url(/Web_Clone/images/studiolico/x-lg.svg);
  position: absolute;
  top: 30px;
  right: 20px;


}

.myacordion .accordion-item {
  margin: 0px 0px -2px 0px;
}
/* .accordion-flush > .accordion-item > .accordion-collapse {
  border: 1px solid black;
} */

/* .accordion-body {
  display: none;
} */

.myacordion .title_txt {
  font-family: 'museo_slab_900';
  font-size: 24px;
  margin-right: 40px;
}

.myacordion span {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;

}

.flex_column {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;

}


.myacordion2 {
  --bs-accordion-btn-padding-y: 2rem;
  --bs-accordion-btn-padding-x: 0;
  --bs-accordion-btn-icon-width: 2.25rem;
}

.myacordion2 .title_txt {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.myacordion2 .title_sub {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 25px;
  right: 60px;
  gap: 5px;

  /* font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 700; */
}

.myacordion2 .title_sub span:nth-of-type(1) {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 800;
}
.myacordion2 .title_sub span:nth-of-type(2) {
  color: #ababab;
}


.myacordion2 .accordion-body {
  background-color: #f7f7fb;
}

.myacordion2 .accordion-button {
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
}

.myacordion2 .accordion-button:not(.collapsed) {
  /* height: 100px; */
  background-color: white;
  color: black;
}

.button {
  padding: 10px 24px 10px;
  background: #000;
  font-size: 0.8em;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  line-height: 1.5;
  display: inline-block;
}

.bot_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.myacordion2::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  background: black;
}

.myacordion2::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 100px;
  background: black;
}



.diagram_center.transition_opacity,
.center_txt.transition_opacity,
.diagram_circle.transition_opacity,
.diagram_circle_wrap .diagram_circle .circle_txt.transition_opacity {
  opacity: 1;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.sub_career_diagram {
  position: absolute;
  top: 194px;
  /* right: 708px; */
  right: 380px;
  z-index: 30;
  width: 645px;
  height: 645px;
}

.diagram_center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  width: 146px;
  height: 139px;
  background: url(/Web_Clone/images/studiolico/img_payer_pc.png) no-repeat;
  background-size: 146px 139px;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  /* transition: 1s; */
}


.center_txt {
  position: absolute;
  z-index: 40;
  width: 150px;
  min-height: 45px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.34;
  text-align: center;
  /* font-family: NotoSansM, sans-serif; */
  font-family: "Noto Sans KR", sans-serif;
  opacity: 0;

}
.txt2 {
  display: none;
}
.com {
  top: -50px;
  left: 0;
}
.know {
  top: 40px;
  left: 125px;
}
.pasn {
  top: 149px;
  left: 54px;
}
.crtv {
  top: 149px;
  left: -54px;
}
.fun {
  top: 40px;
  left: -125px;
}
.en {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.33;
  font-family: Museo_Sans_500, sans-serif;
}

.diagram_circle_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 30;
  width: 516px;
  height: 516px;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.diagram_circle {
  position: absolute;
  z-index: 30;
  width: 514px;
  height: 514px;
  border: 1px solid #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
}
.diagram_circle_wrap .diagram_circle.top {
  top: -63px;
}
.diagram_circle_wrap .diagram_circle.left {
  top: 45px;
  left: -62px;
}
.diagram_circle_wrap .diagram_circle.right {
  top: 45px;
  left: 66px;
}

.diagram_circle_wrap .diagram_circle .circle_txt {
  position: absolute;
  z-index: 40;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  /* font-family: NotoSansM, sans-serif; */
  font-family: "Noto Sans KR", sans-serif;
  opacity: 0;
}
.diagram_circle_wrap .diagram_circle .circle_txt.new {
  top: 51px;
  left: 197px;
}
.diagram_circle_wrap .diagram_circle .circle_txt.hori {
  top: 330px;
  left: 47px;
}
.diagram_circle_wrap .diagram_circle .circle_txt.grown {
  top: 330px;
  right: 47px;
}