@charset "utf-8";
.inner {
  padding: 5px 30px;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 41px;
  margin-bottom: 10px;
  line-height: 45px;

}
p {
  font-size: 15px;
}

/* 햄버거메뉴 */
.icoMenu {
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 200;
  font-size: 40px;
}
/* 햄버거메뉴 */


/* 메뉴창 팝업 */
.nav_manu_list {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  gap: 20px;
  transform: translateY(100%);
}

nav.active .nav_manu_list {
  transform: translateY(0);

}

nav {
  justify-content: flex-end;
}
nav a {
  font-family: 'museo_slab_700';
  font-size: 40px;
  font-weight: 600;
}



footer {
  opacity: 0;
}
footer.active {
  justify-content: center;
  opacity: 1;
}

footer.active .privacy_policy,
footer.active .ethicsline,
footer.active .C_right {
  display: none;
}

footer.active .logo_webtoon {

  display: block;
  width: 67px;
  height: 30px;


  background: url(/Web_Clone/images/studiolico/sp_logo.png) -151.444px 4.223px / 1098.837% 1292.308% no-repeat;
}

footer.active .logo_naver {

  display: block;
  width: 67px;
  height: 31px;
  background: url(/Web_Clone/images/studiolico/sp_logo.png) -236.554px 9.133px / 1098.837% 1292.308% no-repeat;
}
/* 햄버거메뉴 */


.nav_logo {
  width: 63px;
  height: 32px;
  /* background: url(/Web_Clone/images/studiolico/sp_logo.png) -353.5px -315px / 750% 800% no-repeat; */
  background: url(/Web_Clone/images/studiolico/sp_logo.png) -222.705px -202.365px / 750% 800% no-repeat;
  position: absolute;
  top: 25px;
  left: 30px;
}


.main_txt {
  /* gap: 40px; */
  position: absolute;
  top: 110px;
  left: 130px;

}
.main_txt a {
  font-size: 18px;
}

/* .main_txt div:first-child {
  margin-bottom: 190px;
} */
.main_txt h1 {
  margin-bottom: 240px;

}

.sub_txtbox {
  flex-direction: row;
  gap: 20px;
}

.credit_list_box {
  top: 203px;
  left: 420px;
}














.mySwiper2 {
  --swiper-navigation-size: 50px
}