@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
  font-family: 'museo_slab_900';
  src: url(/Web_Clone/css/font/museo-slab/Museo_Slab_900.otf);
}
@font-face {
  font-family: 'museo_slab_700';
  src: url(/Web_Clone/css/font/museo-slab/Museo_Slab_700.otf);
}
@font-face {
  font-family: 'museo_slab_500';
  src: url(/Web_Clone/css/font/museo-slab/Museo_Slab_500.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: darkblue; */
  /* outline: 1px solid black; */
}

:root {
  font-family: "Noto Sans KR", sans-serif;
  /* color: #FFF; */
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}
h1 {
  font-family: 'museo_slab_900';
  font-size: 80px;
  font-weight: bold;
}
h2 {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 15px;
}
p {
  font-size: 17px;
  font-weight: 600;
  margin-bottom:0;
}
a {
  /* font-size: 20px; */
  font-weight: 500;
}
a:visited, a:link {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* .white {
  color: #fff;
} */

.inner {
  width: 100%;
  height: 100%;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  /* layout */
  display: flex;
  /* width: 1760px; */
  height: 50px;
  align-items: center;
  gap: 82px;
  /* position */
  /* position: absolute;
  left: 75px;
  top: 50px;*/
  z-index: 100;
}
nav a {
  font-family: 'museo_slab_500';
  font-size: 21px;
}
.nav_logo {
  width: 100px;
  height: 50px;
  /* background: url(/Web_Clone/images/studiolico/sp_logo.png) -353.5px -315px / 750% 800% no-repeat; */
  background: url(/Web_Clone/images/studiolico/sp_logo.png) -353.5px -260.066px / 750% 800% no-repeat;
}
.nav_manu_list {
  /* layout */
  display: flex;
  align-items: flex-start;
  gap: 38px;
  /* typo */
  color: rgba(0, 0, 0, 0.40);
  text-align: center;
  font-size: 23px;
}
.rectangle {
  height: 4px;
  align-self: stretch;
  background: rgba(0, 0, 0, 0.00);
}
.manu01:visited, .manu01:link,
.manu02:visited, .manu02:link,
/* .manu03:visited, .manu03:link, */
.manu04:visited, .manu04:link {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.manu01:hover,
.manu02:hover,
/* .manu03:hover, */
.manu04:hover {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  font-family: 'museo_slab_700';
}
.manu03 {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  text-decoration: none;
}
.manu03 .rectangle {
  background: rgba(0, 0, 0, 1.00);
}

footer {
  /* layout */
  display: flex;
  /* width: 1760px; */
  height: 40px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  /* position */
  /* position: absolute;
  left: 75px;
  bottom: 45px; */
  z-index: 100;

  /* typo */
  color: rgba(0, 0, 0, 0.50);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.7px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px
}
.logo_webtoon {
  display: block;
  width: 43px;
  height: 40px;
  /* background: url(/Web_Clone/images/studiolico/sp_logo.png) -403.41px -29.118px / 1744.187% 990.712% no-repeat; */
  background: url(/Web_Clone/images/studiolico/sp_logo.png) -353.806px -29.118px / 1744.187% 990.712% no-repeat;
}
.logo_naver {
  display: block;
  width: 64px;
  height: 12px;
  /* background: url(/Web_Clone/images/studiolico/sp_logo.png) -244.373px 0.517px / 1171.875% 3333.333% no-repeat; */
  background: url(/Web_Clone/images/studiolico/sp_logo.png) -244.373px -29.62px / 1171.875% 3076.922% no-repeat;
}
.privacy_policy {
  display: flex;
  align-items: center;
  gap: 20px;
}
.privacy_policy::before {
  display: block;
  width: 1px;
  height: 10px;
  background: #ccc;
  content: "";
}
.privacy_policy:visited, .privacy_policy:link {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  letter-spacing: -0.75px;
  text-decoration-line: underline;
}

.ethicsline:visited, .ethicsline:link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}


.top_inner,
.mid_inner,
.bot_inner {
  width: 1200px;
  margin: 0 auto;
  padding-top: 90px;
  /* max-width: 1200px; */
}




.main_txt {
  width: auto;
  display: flex;
  flex-direction: column;

  /* justify-content: flex-start; */
  /* margin: 80px 180px ; */
  gap: 40px;
  /* position: absolute; */
  /* top: 150px; */
  /* left: 230px; */
}

.sp_txt {
  background: url(/Web_Clone/images/studiolico/sp_txt.png) 0 0 no-repeat;
  background-size: 400px 400px;
  height: 26px;
}

.career_mid h2 {
  font-family: 'museo_slab_900';
  font-size: 34px;
  font-weight: 400;
}
.career_bot h2 {
  font-family: "Noto Sans KR";
  font-size: 28px;
  font-weight: 700;
}




.myacordion {
  --bs-accordion-btn-padding-y: 2rem;
  --bs-border-color: #000;
  /* --bs-accordion-btn-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'><path d='m5 10L5 1'/><path d='m0 5h10'/></svg>"); */

  /* --bs-accordion-btn-icon: url("data:image/svg+xml,<svg xmlns='http: //www.w3.org/2000/svg' fill='currentColor' class='bi bi-x-lg' viewBox='0 0 16 16'><path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z' /> </svg>"); */

  --bs-accordion-btn-icon-width: 2rem;
  --bs-accordion-active-bg: none;
  --bs-accordion-transition : initial;
  margin-top: 30px; 
}



.accordion-button {
  border: 1px solid black;

}
.accordion-button:focus{
  box-shadow:initial
}

.accordion-button::after {
  background-image: url(/Web_Clone/images/studiolico/plus-lg.svg);
  transition: initial;
}
.accordion-button.flex_column .title_txt {
  margin: 0 0 20px 0;
}

.accordion-button.collapsed .title_txt_click {
  display: none;
}

.accordion-button:not(.collapsed) {
  height: 230px;
  color: white;

  /* background-image: url(/Web_Clone/images/studiolico/img_work_life_pc_01.jpg); */
  background-size: cover;
  box-shadow: none;
}

.accordion-button:not(.collapsed).item01_btn{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/Web_Clone/images/studiolico/img_work_life_pc_01.jpg) lightgray 50% / cover no-repeat;

}
.accordion-button:not(.collapsed).item02_btn{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/Web_Clone/images/studiolico/img_work_life_pc_02.jpg) lightgray 50% / cover no-repeat;
  height: 280px;

}
.accordion-button:not(.collapsed).item03_btn{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/Web_Clone/images/studiolico/img_work_life_pc_03.jpg) lightgray 50% / cover no-repeat;
}
.accordion-button:not(.collapsed).item04_btn{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/Web_Clone/images/studiolico/img_work_life_pc_04.jpg) lightgray 50% / cover no-repeat;
  height: 350px;

}



.accordion-button:not(.collapsed) > span {
  display: none;
}
/* .accordion-button:not(.collapsed) > .title_txt, */
.accordion-button:not(.collapsed) > .title_txt_click
 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion-button:not(.collapsed) > .title_txt_click .title_txt{
  margin-bottom: 10px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(/Web_Clone/images/studiolico/x-lg.svg);
  position: absolute;
    top: 20px;
    right: 20px;


}

.accordion-item {
  margin: 0px 0px -2px 0px;
}
/* .accordion-flush > .accordion-item > .accordion-collapse {
  border: 1px solid black;
} */

/* .accordion-body {
  display: none;
} */

.myacordion .title_txt {
  font-family: 'museo_slab_900';
  font-size: 24px;
  margin-right: 40px;
}

.myacordion span {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;

}

.flex_column {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;

}


/* [data-bs-theme=dark] .accordion-button::after {

  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd'd='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23052c65' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
} */