@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


@font-face {
  font-family: 'museo_slab_900';
  src: url(/Web_Clone/css/font/museo-slab/Museo_Slab_900.otf);
}
@font-face {
  font-family: 'museo_slab_700';
  src: url(/Web_Clone/css/font/museo-slab/Museo_Slab_700.otf);
}
@font-face {
  font-family: 'museo_slab_500';
  src: url(/Web_Clone/css/font/museo-slab/Museo_Slab_500.otf);
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: darkblue; */
  /* outline: 1px solid whitesmoke; */
}



.material-symbols-outlined {

  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 40
}


.icoMenu,
.icoClose {
  /* font-size: 2rem;
  color: #fff;
  display: flex;
  height: 100%;
  align-items: center; */
  display: none;

}


:root {
  font-family: "Noto Sans KR", sans-serif;
  color: #FFF;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}
h1 {
  font-family: 'museo_slab_700';
  font-size: 80px;
  /* font-weight: 400; */
}
h2 {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 15px;

}
h3 {
  font-family: 'museo_slab_900';
  font-size: 18px;
  font-weight: 600;
}
h4 {
  font-size: 15px;
  font-weight: 700;
}

p {
  font-size: 20px;
  font-weight: 400;
}
a {
  /* font-size: 20px; */
  font-weight: 500;
}
a:visited, a:link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* .hamburger_menu {
  position: absolute;
  top: 28px;
  right: 30px;
  z-index: 130;
  width: 21px;
  height: 20px;
}

.hamburger_menu .icon{
  transition-duration: .5s;
    position: absolute;
    height: 18px;
    width: 21px;
}
.hamburger_menu .icon::before{
  transition-duration: .5s;
  position: absolute;
  width: 21px;
  height: 3px;
  content: "";
  top: 0;
  color: #fff;

}

.hamburger_menu .icon::after{
  transition-duration: .5s;
    position: absolute;
    width: 21px;
    height: 3px;
    content: "";
    bottom: 0;
    color: #fff;
} */


/* .black {
  color: #000;
} */
.swiper-slide.black {
  color: #000;
}

/* .black:visited, .black:link {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
} */

.swiper-slide.black a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.white {
  color: #fff;
}

.swiper-slide .thumb_txt {
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  height: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  color: black;
  padding: 0 10px;
  display: none;
}
.swiper-slide-thumb-active .thumb_txt {
  display: block;
}



.inner {
  height: 100vh;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  /* layout */
  display: flex;
  /* width: 1760px; */
  height: 50px;
  align-items: center;
  gap: 82px;
  /* position */
  /* position: absolute;
  left: 75px;
  top: 50px;*/
  z-index: 150;
}
nav a {
  font-family: 'museo_slab_500';
  font-size: 21px;
}
.nav_logo {
  width: 100px;
  height: 50px;
  background: url(/Web_Clone/images/studiolico/sp_logo.png) -353.5px -315px / 750% 800% no-repeat;
}
.nav_manu_list {
  /* layout */
  display: flex;
  align-items: flex-start;
  gap: 38px;
  /* typo */
  color: rgba(255, 255, 255, 0.40);
  text-align: center;
  font-size: 23px;
}
.rectangle {
  height: 4px;
  align-self: stretch;
  background: rgba(255, 255, 255, 0.00);
}
h3::after {
  content: "";
  display: block;
  height: 3px;
  align-self: stretch;
  background: rgba(0, 0, 0, 1.00);
}




.manu01:visited, .manu01:link,
/* .manu02:visited, .manu02:link, */
.manu03:visited, .manu03:link,
.manu04:visited, .manu04:link {
  color: rgba(255, 255, 255, 0.40);
  text-decoration: none;
}
.manu01:hover,
/* .manu02:hover, */
.manu03:hover,
.manu04:hover {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}
.manu02 {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-decoration: none;
}
.manu02 .rectangle {
  background: rgba(255, 255, 255, 1.00);
}



main {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
  /* margin: 0px 180px; */
  /* z-index: 100; */
}

/* main .thumbs_carousel_alignments {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */

/* .main_txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 80px 180px;
  gap: 10px;
} */

.main_txt {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* margin: 80px 180px ; */
  /* gap: 40px; */
  position: absolute;
  top: 150px;
  left: 230px;
  letter-spacing: -1px;
}

.main_txt h1 {
  margin-bottom: 40px;
}
.main_txt a {
  font-size: 20px;
  font-weight: 600;
}

.sub_txtbox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.credit_list_box {
  display: flex;
  width: 420px;
  height: 400px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  /* position */
  position: fixed;
  top: 30%;
  right: 10%;
  /* z-index: 999; */
  /* style */
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.85);


  transform: translatex(200%);
}

.main_txt.active .credit_list_box {
  transform: translatex(0);

}

.credit_inner {
  display: flex;
  width: 360px;
  height: 300px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  color: #000;
}

.title_box {
  display: flex;
  width: 100%;
  height: 31px;
  justify-content: space-between;
  align-items: flex-end;
}

.title_box::after {
  content: "";
  /* display: block; */
  width: 360px;
  height: 2px;
  /* align-self: stretch; */
  background: rgba(0, 0, 0, .10);
  position: fixed;
  top: 386px;
}


.title_itmes {
  display: flex;
  gap: 20px;
}
.credit_close {
  display: flex;
  align-items: center;
}

.txt_box {
  display: flex;
  height: 100%;
  padding: 30px 0px;
  align-items: flex-start;
  gap: 80px;
  flex-shrink: 0;
  align-self: stretch;
  overflow: scroll;
}

/* .txt_box::before {
  content: "";
  display: block;
  height: 2px;
  align-self: stretch;
  background: rgba(0, 0, 0, .50);

} */


.txt_box .left,
.txt_box .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  overflow: hidden;
}

.txt_box .right p {
  font-size: 15px;
}




footer {
  /* layout */
  display: flex;
  /* width: 1760px; */
  height: 40px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  /* position */
  /* position: absolute;
  left: 75px;
  bottom: 45px; */
  z-index: 200;

  /* typo */
  color: rgba(255, 255, 255, 0.50);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.7px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px
}
.logo_webtoon {
  display: block;
  width: 43px;
  height: 40px;
  background: url(/Web_Clone/images/studiolico/sp_logo.png) -403.41px -29.118px / 1744.187% 990.712% no-repeat;
}
.logo_naver {
  display: block;
  width: 64px;
  height: 12px;
  background: url(/Web_Clone/images/studiolico/sp_logo.png) -244.373px 0.517px / 1171.875% 3333.333% no-repeat;
}
.privacy_policy {
  display: flex;
  align-items: center;
  gap: 20px;
}
.privacy_policy::before {
  display: block;
  width: 1px;
  height: 10px;
  background: #ccc;
  content: "";
}
.privacy_policy:visited, .privacy_policy:link {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  letter-spacing: -0.75px;
  text-decoration-line: underline;
}

.ethicsline:visited, .ethicsline:link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.main_Carousel {
  width: 100vw;
  height: 100vh;

  position: absolute;
}

.mySwiper2 {
  height: 100vh;
  width: 100vw;
  position: relative;
  /* position: absolute; */
  /* z-index: 0; */
  --swiper-navigation-size: 100px;

}
.mySwiper2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}






.mySwiper {
  width: 100%;
  height: 140px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-self: center;
}

/* .mySwiper > .swiper-wrapper {
  height: 80%;
} */



.mySwiper .swiper-slide {
  opacity: 0.6;
  height: 80%;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;

}

.mySwiper .swiper-slide > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide > div img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border: 2px solid white;
}
.mySwiper .swiper-slide > div p {
  width: 100%;
  height: 20%;
  display: none;
}
.mySwiper .swiper-slide-thumb-active > div p {
  display: block;
}
/* .mySwiper .swiper-slide-thumb-active > div img {
  height: 80%;
} */



/* 스와이프 프로그래스바 위치조정 */
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

/* 스와이프 프로그래스바 위치조정 */

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: auto;
}


/* .swipe_thumb .swiper-slide {
  height: 70%
} */


.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 6.25%));
  height: var(--swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 4px));
  border-radius: var(--swiper-pagination-bullet-border-radius, 0%);
  background: var(--swiper-pagination-bullet-inactive-color, #fff);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .3);
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, #FFF);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}



.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 5%);
  /* right: auto */

}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 5%);
  /* left: auto */

}