@charset "utf-8";
.inner {
  padding: 5px 30px;
}
h1 {
  font-size: 46px;
}

h2 {
  font-size: 25px;
  margin-bottom: 0;
}

p {
  font-size: 13px;
}

.main_txt {
  left: 30px;
}

.main_txt a {
  font-size: 14px;
}

.main_txt h1 {
  margin-bottom: 0;
}

.icoMenu {
  font-size: 28px;
}

.mySwiper2 .swiper-wrapper .swiper-slide .Carousel_MO_01 {
  transform: initial;
}